@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


.container_scrollable {
  overflow-y: scroll;
}
/* width */
.container_scrollable::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.container_scrollable::-webkit-scrollbar-track {
  background: #eaeaea;
}

/* Handle */
.container_scrollable::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  border-radius: 5px;
}

/* Handle on hover */
.container_scrollable::-webkit-scrollbar-thumb:hover {
  background: #a4a4a4;
}